.items_filters {
	.filter {
		background-color: #EEE;
	}
}

.list-dates {
	margin: 0;
	.list-group-item {
		a {
			display: block;
			outline: none;
			text-decoration: none;
		}
		&.active {
			a {
				color: #FFF;
			}
		}
	}
}

.block.block-program {
	
	margin-top: 5px;
	
	.my-agenda-nav {
		padding: 10px 25px;
		background-color: #F6F6F6;
		border-top: 15px solid #EEE;
		.checkbox {
			margin: 0;
			label {
				font-weight: bold;
				-webkit-touch-callout: none; /* iOS Safari */
			    -webkit-user-select: none; /* Safari */
			     -khtml-user-select: none; /* Konqueror HTML */
			       -moz-user-select: none; /* Firefox */
			        -ms-user-select: none; /* Internet Explorer/Edge */
			            user-select: none; /* Non-prefixed version, currently
			                                  supported by Chrome and Opera */
				input {
					margin-right: 5px;
					position: relative;
					top: -1px;
				}
				
				.ch_agenda {
					width: 16px;
					height: 16px;
					position: relative;
					top: 0;
				}
				
			}
		}
	}
	
	.tab-content {
		padding-top: 15px;
	}
	
	.my-agenda-info {
		padding: 0 25px 10px;
		background-color: #F6F6F6;
		p {
			margin: 0;
			padding: 0;
			font-size: 0.9em;
		}
	}
	
	ul.program {
		
		padding: 0;
		margin: 0;
		list-style: none;
		min-height: 50px;
		
		li.session {
			
			padding: 13px 20px;
			margin: 0;
			list-style: none;
			transition-duration: .3s;
			
			&:first-child {
				margin-top: 0;
			}
			
			.session_header {
				
				overflow: auto;
				color: #6f50b2;
				font-weight: bold;
				
				.tools {
					width: 24px;
					min-height: 1px;
					float: left;
					text-align: center;
					input {
						position: relative;
						top: -1px;
						width: 16px;
						height: 16px;
					}
				}
				
				p {
					margin: 0;
					padding: 0;
				}
							
				.time {
					width: 45px;
					float: left;
					text-align: right;
				}
				
				.title {
					margin-left: 80px;
				}
			
			}
			
			.description {
				
				margin-left: 80px;
				border-top: 1px solid #DDD;
				margin-top: 7px;
				padding-top: 4px;
				
				p {
					margin: 2px 0;
					padding: 2px 0;
				}
				
			}
			
			.subsessions {
				
				list-style: none;
				margin: 10px 0 0 80px;
				padding: 5px 0 0;
				border-top: 1px solid #CCC;
				
				.subsession {
					
					list-style: none;
					margin: 0 0 0 -1px;
					padding: 5px 0;
					
					label {
						input {
							margin-right: 10px;
							width: 16px;
							height: 16px;
							position: relative;
							top: 1px;
							float: left;
						}
						
						.text {
							display: block;
						    margin-left: 27px;
						    margin-top: 2px;
						}
						
						-webkit-touch-callout: none; /* iOS Safari */
					    -webkit-user-select: none; /* Safari */
					     -khtml-user-select: none; /* Konqueror HTML */
					       -moz-user-select: none; /* Firefox */
					        -ms-user-select: none; /* Internet Explorer/Edge */
					            user-select: none; /* Non-prefixed version, currently
					                                  supported by Chrome and Opera */
					}
					
					p {
						margin: 0;
						padding: 0;
					}
				}
			}
			
		}
		
	}

}