@import "paper/variables.less";
@import "elements.less";

.tm_list {
	
	margin: -10px 0 0;
	padding: 0;
	list-style: none;
	
	> li {
		
		margin: 0;
		padding: 15px 25px;
		list-style: none;
		border-bottom: 1px solid #DDD;
				
		&.nopadding {
			
			p {
				margin: 0;
				padding: 0;
			}
			
		}
		
		&.dates {
			.content {
				p {
					span {
						width: 40px;
						display: inline-block;
					}
				}
			}
		}
		
		&:first-child {
			
		}
		
		&:last-child {
			border-bottom: none;
		}
		
		.icon {
			position: absolute;
			span {
				color: #AAA;
				margin-top: 2px;
				margin-top: 2px;
			}
		}
		
		.content {
			margin: 0 0 0 25px;
			padding: 0;
			min-height: 20px;
			
			&.text {
				p {
					
					margin: 15px 0;
					
					&:first-child {
						margin-top: 0;
					}
					
					&:last-child {
						margin-bottom: 0;
					}
					
				}
			}
			
		}
		
	}
}

.label.label-yag {
	font-size: 0.9em;
    padding: 5px 10px !important;
    margin-bottom: 10px;
}

.event-publisher-btn-share {
	margin-top: 5px;
	display: inline-block;
}

.block-item-header {
	.block-col-img {
		height: 230px;
		background-position: center center;
		background-size: cover;
		.border-radius(3px, 0, 0, 3px);
		padding: 10px;
		
		button {
			line-height: 10px;
			padding: 5px 8px;
			.glyphicon {
				font-size: 18px;
			}
		}
	}
	
	.block-col-info {
						
		.tm_item_cont {
			
			.tm_item {
				padding: 40px 0;
			}
				
			.buttons {
				
			    text-align: center;
			    
			    .buttons_inner {
				    border-top: 1px solid #ddd;
				    padding: 15px 0;
				    background-color: #f6f6f6;
				    .border-radius(0, 3px, 3px, 0);
				    
				    .btn-main {
					    padding-left: 15px;
					    padding-right: 15px;
				    }
				    
			    }
			}
		}
	}
}

.block-registration {
	
	&.block-minimal {
		background: inherit;
		box-shadow: inherit;
	}
	
	.form_inner {
		margin: 15px 0 -15px;
	}
	
	.banner {
		line-height: 20px;
		text-align: center;
	}
	
	.alert {
		margin: 0 0 0 0;
	}
	
	fieldset {
		margin: 0 0 0 0;
	}
	
	input.form-control, select.form-control {
		background-color: #ffffff;
		padding: 0 8px;
		&.disabled {
			background-color: #F6F6F6;
		}
	}
	
	textarea.form-control {
		background-color: #FFF;
		padding: 0 8px;
	}
	
	.buttons {
		text-align: center;
		padding: 15px 0;
		.btn {
			margin: 0 5px;
			padding-left: 30px;
			padding-right: 30px;
		}
		
		.buttons-primary {
			margin: 15px 0;
		}
		
		.buttons-secondary {
			margin: 15px 0;
			font-size: 14px;
			p {
				margin: 0;
				padding: 0;
			}
		}
	}
	
	.buttons-small {
		text-align: center;
		padding: 20px 0;
	}
	
	label {
		font-size: 13px;
		font-weight: 600;
		margin-bottom: 2px;
		margin-left: 1px;
	}
	
	.help-block {
		font-size: 13px;
	}
	
	.form-group {
		margin-top: 15px;
		margin-bottom: 15px;
	}
	
	.value {
		.none {
			font-style: italic;
			color: #999;
		}
	}
	
	.days_values {
		.value {
			margin: 0;
			&:first-child {
				margin-top: 5px;
			}
			&:last-child {
				margin-bottom: 10px;
			}
		}
	}
	
}

#register-user-div header {
	margin-bottom: -2em;
}

.btn-coupon {
	border: 1px solid #ccc;
    box-shadow: none;
    position: relative;
    top: -1px;
}

.msg-coupon {
	margin: 5px;
	
	.glyphicon {
		position: relative;
		top: 2px;
		margin-right: 3px;
	}
	
	&.valid {
		color: green;
	}
	
	&.invalid {
		color: red;
	}
}

.terms_text {
	h2 {
		font-size: 2em;
		text-align: center;
	}
	h3 {
		font-size: 1.2em;
	    font-weight: bold;
	    margin: 40px 0 15px;
	}
	p {
		font-size: 0.9;
		
	}
}

@media (min-width: @screen-xs-min) {
	.block-item-header {
		.block-col-img {
			height: 300px;
		}
	}
}

@media (min-width: @screen-sm-min) {
	.block-item-header {
		.block-col-img {
			height: 360px;
		}		
	}
}

@media (min-width: @screen-md-min) {
	.block-item-header {
		.block-col-img {
			height: 380px;
			.border-radius(0, 0, 3px, 3px);
		}
		
		.block-col-info {
						
			.tm_item_cont {
				
				display: table;
				height: 380px;
				width: 100%;
				padding-bottom: 67px;
				
				.tm_item {
					padding: 0;
					display: table-cell;
					vertical-align: middle;
				}
					
				.buttons {
					
					bottom: 0;
				    left: 0;
				    margin-left: -15px;
				    position: absolute;
				    width: 100%;
								    
				    .buttons_inner {
					    
					    .border-radius(0, 3px, 0, 0);
					    
					    .btn-main {
						    
					    }
					    
				    }
				}
			}
		}
	}
}

@media (min-width: @screen-lg-min) {
	.block-item-header {
		.block-col-img {
			height: 450px;
		}
		
		.block-col-info {
						
			.tm_item_cont {
				
				height: 450px;

			}
		}
	}
}

.eventPublisherDiv {
	.buttons {
		margin-bottom: -20px;
		.btn {
			display: block;
			width: 250px;
			margin: 20px auto;
		}
	}
	.previewImg {
		background-color: #F3F3F3;
		width: 100%;
		height: 476px;
		margin-bottom: 20px;
		background-size: cover;
	}
}

.daysCheckboxesDiv {
	margin-bottom: 30px !important;
	label.ch {
		font-weight: normal;
		input {
			margin-right: 3px;
		}
	}
	.checkbox {
		margin: 0;
		&:first-child {
			margin-top: 5px;
		}
	}
}

.block.block-see-also {
	.block {
		box-shadow: none;
		margin: 0;
	}
}

.tm_organizations {
	list-style: none;
	margin: 0;
	padding: 0 0 15px;
	> li {
		margin: 10px 25px;
		padding: 0;
		list-style: none;
		&:first-child {
			margin-top: 0;
		}
		
		p {
			margin: 0;
			padding: 0;
		}
		.glyphicon {
			color: #444;
		    font-size: 0.7em;
		    margin-right: 4px;
		    position: relative;
		    top: 0;
		}
	}
}

.nav-page {
	margin-top: 15px;
}

.block.block-followers {
	.tmTable {
		margin: 0 -10px;
		
		> a.row {
			display: block;
			&:hover {
				p.name {
					color: #2196f3;
				}
				p.desc {
					color: #444;
				}
			}
		}
		
		> .row {
						
			padding: 10px;
			p {
				margin: 0;
				&.name {
					font-weight: 600;
					color: #333;
				}
				&.desc {
					color: #213040;
					color: #666;
					font-size: 0.8em;
				}
			}
			.img {
				span.icon-gender {
					font-size: 60px;
					position: relative;
					top: 3px;
					color: #DDD;
				}
			}
		}
	}
	.a-text {
		color: #666;
		font-size: 0.85em;
		&:hover {
			color: #0a6ebd;
		}
	}	
}

.tmTable {
	> .row {
		border-bottom: 1px solid #DDD;
		padding: 10px 0;
		
		&:last-child {
			border-bottom: none;
		}
		
		p {
			margin: 0;
			padding: 0;
		}
		
		.timestamp {
			font-size: 0.8em;
			color: #999;
		}
		
		.img {
			float: left;
			width: 65px;
			height: 65px;
			margin-right: 10px;
			background-position: center center;
			background-size: cover;
			border-radius: 5px;
			text-align: center;
			span {
				font-size: 14px;
				font-size: 28px;
				color: #AAA;
			}
		}
		
		.item-status {
			background-color: #ff9800;
			width: 10px;
			height: 10px;
			display: inline-block;
			border-radius: 10px;
			margin-right: 3px;
			&.item-status-finalized {
				background-color: #4caf50;
			}
		}
		
		.icons {
			span {
				margin: 0 5px;
				color: #BBB;
				&:hover {
					color: #666;
				}
			}
		}
	}
}